/* reddit */
.subgrid-container,
reddit-sidebar-nav,
pdp-right-rail,
#reddit-trending-searches-partial-container {
    display: none !important;
}

/* youtube */
#related,
#shorts-container,
#short-video-container,
#guide-content {
    visibility: hidden !important;
}

ytd-rich-grid-renderer,
#guide-button {
    display: none !important;
}
